.advantages {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 5;

  max-width: 1200px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  font-size: 16px;
  line-height: 22px;

  list-style: none;
}

.advantages li {
  width: 50%;
  min-height: 299px;

  margin-bottom: 30px;

  background-color: #ffffff;
}

.advantages__wrapper {
  max-width: 570px;
  height: 100%;

  margin-left: 15px;
  margin-right: 15px;
  padding-left: 42px;
  padding-top: 39px;
  padding-right: 41px;
  padding-bottom: 15px;

  border: 1px solid #ebebeb;
  border-left: 3px solid $pick-out-color;

  &--secret {
    padding-top: 43px;
  }

  &:hover {
    color: $color-title;

    background-color: $pick-out-color;

    h3 {
      color: $color-title;
    }

    .advantages__image {
      fill: $color-title;
    }
  }
}

.advantages h3 {
  display: block;

  margin-top: 14px;
  margin-bottom: 15px;

  font-family: $title-font;
  font-size: 24px;
  line-height: 34px;

  color: $pick-out-color;
}

@media (max-width: $tablet-width) {
  .advantages li {
    min-height: 232px;

    &:nth-child(even) {
      padding-left: 15px;
    }

    &:nth-child(odd) {
      padding-right: 15px;
    }
  }

  .advantages h3 {
    margin-top: 4px;
    margin-bottom: 7px;
  }

  .advantages__wrapper {
    margin-left: 0;
    margin-right: 0;

    padding: 21px 20px 23px 24px;

    &--secret {
      padding-top: 24px;
    }

    &--secret h3 {
      margin-bottom: 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages li {
    width: 100%;

    margin-bottom: 20px;

    &:nth-child(even) {
      padding-left: 0;
    }

    &:nth-child(odd) {
      padding-right: 0;
    }
  }

  .advantages__wrapper {
    max-width: 100%;

    padding-right: 10px;
    padding-bottom: 24px;

    &--time {
      padding-right: 20px;
    }
  }

  .advantages h3 {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 28px;
  }
}
