.call-button {
  width: 180px;
  height: 45px;

  font-family: $title-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-title;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  padding: 0;

  background-color: transparent;

  border: 1px solid $color-border;
  border-radius: 5px;
}