.form {
  position: relative;
  z-index: 5;

  width: 635px;

  padding-right: 65px;
  margin-left: auto;
  margin-right: 0;
}

.form h2 {
  display: block;
  padding: 0;
  padding-top: 90px;
  margin: 0 0 11px;

  font-family: $title-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $color-title;
}

.form p {
  padding: 0 0 0 5px;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-left: 4px;
  padding-bottom: 116px;
  margin-top: 50px;
}

.form__wrapper input {
  &:nth-child(even) {
    margin-left: 30px;
  }
}

.form__wrapper input,
.form__wrapper textarea {
  flex-grow: 1;
  min-height: 50px;

  padding-top: 1px;
  padding-left: 18px;
  margin-bottom: 40px;

  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  color: $color-title;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;

  &::placeholder {
    color: $color-title;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 1;
  }
}

.form__wrapper textarea {
  flex-grow: 2;
  max-width: 570px;
  min-width: 100%;
  min-height: 154px;

  padding-top: 13px;
  margin-bottom: 43px;
}

.form__agree-block {
  max-width: 35%;
}


@media (max-width: $tablet-width) {
  .form {
    width: 100%;

    margin-left: 90px;
    margin-right: 85px;
    padding-right: 0;
  }

  .form h2 {
    padding-top: 80px;
    margin-bottom: 17px;
    font-size: 32px;
    line-height: 45px;
  }

  .form__wrapper {
    padding-left: 2px;
    padding-bottom: 104px;
    margin-top: 54px;
  }

  .form__wrapper input {
    max-width: 50%;

    padding-left: 19px;
    padding-bottom: 5px;

    &:nth-child(even) {
      margin-left: 32px;
    }
  }

  .form__wrapper textarea {
    min-height: 160px;
    margin-bottom: 46px;
  }

  button.form__button {
    width: 280px;

    min-height: 47px;
    padding-top: 3px;
    margin-left: 0;
  }

  .form__wrapper p {
    margin-left: 73px;
  }

  input.form__input-check[type="checkbox"] + label {
    &::before {
      top: 10px;
      left: -36px;
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    margin-left: 14px;
    margin-right: 15px;
  }

  .form h2 {
    max-width: 243px;

    padding-top: 30px;
    margin-bottom: 14px;

    font-size: 28px;
    line-height: 39px;
  }

  .form p {
    padding-left: 0;
  }

  .form__wrapper {
    padding-bottom: 40px;
    margin-top: 26px;
  }

  .form__wrapper input {
    width: 100%;
    max-width: 100%;

    padding-top: 0;
    padding-bottom: 3px;
    padding-left: 15px;
    margin-bottom: 33px;

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  .form__wrapper input + input {
    margin-left: 0;
  }

  .form__wrapper textarea {
    min-height: 100px;

    padding-top: 10px;
    margin-bottom: 33px;
  }

  button.form__button {
    width: 290px;
    padding-top: 1px;
    margin-left: -2px;
    margin-bottom: 22px;
  }

  .form__wrapper p {
    max-width: 100%;

    margin-left: 33px;
  }

  .form__agree-block {
    max-width: 100%;

    margin-left: 33px;
  }
}
