.header-contacts {
  display: flex;
  justify-content: space-between;

  min-width: 431px;

  padding: 0;
  padding-top: 13px;

  font-size: 16px;
  vertical-align: top;

  list-style: none;
}


.header-contacts__logo {
  margin-right: 16px;
}

.header-contacts__email a {
  position: relative;

  padding-top: 4px;
  padding-left: 38px;
  margin-left: auto;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 5px;

    width: 19px;
    height: 14px;

    background: url("../img/email.svg") no-repeat;
  }
}

.header-contacts__phone a {
  display: block;
  position: relative;

  min-width: 212px;

  padding-top: 4px;
  padding-left: 38px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 5px;

    width: 18px;
    height: 18px;

    background: url("../img/phone.svg") no-repeat;
  }
}

@media (max-width: $tablet-width) {
  .header-contacts {
    min-width: 80px;

    padding-top: 11px;
  }

  .header-contacts__logo {
    margin-right: 0;
  }

  .header-contacts__email a {
    padding: 14px;

    &::before {
      top: 4px;

      width: 25.33px;
      height: 18.67px;

      background-size: cover;
    }
  }

  .header-contacts__phone a {
    padding: 13px;

    min-width: 26px;

    &::before {
      top: 0;

      width: 24px;
      height: 24px;

      background-size: cover;
    }
  }

  .header-contacts__text {
    display: none;
  }

  .header-contacts li + li {
    margin-left: 33px;
  }
}

@media (max-width: $mobile-width) {
  .header-contacts {
    padding-top: 4px;
  }

  .header-contacts li + li {
    margin-left: 24px;
  }

  .header-contacts__phone {
    padding-top: 1px;
  }

  .header-contacts__email a{
    &::before {
      left: 6px;
    }
  }
}
