.main-form {
  position: relative;

  background: url("../img/airoplan.png") no-repeat $pick-out-color;
  background-position: calc(54% - 411px) 160px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: url("../img/form-polygon.svg") no-repeat right 36px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: url("../img/form-polygon-big.svg") no-repeat;
    background-position: 100% -60px;
  }
}

.main-form__wrapper {
  display: flex;

  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;

  max-width: 1300px;
}

@media (max-width: $tablet-width) {
  .main-form {
    background: $pick-out-color;

    &::before {
      background: transparent;
    }

    &::after {
      background: transparent;
    }
  }
}
