.social-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 355px;

  padding: 0;

  list-style: none;
}

.social-list li {
  margin-right: 16px;

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width) {
  .social-list {
    justify-content: space-between;
    flex-wrap: nowrap;

    padding-left: 11px;
    padding-right: 11px;
  }
}

