$main-font: "PTMono", "Courier New", monospace;
$title-font: "RobotoCondensed", "Arial", sans-serif;
$color-title: #FFFFFF;
$color-text: #666666;
$color-border: #FFFFFF;
// $color-bg-btn: #68b738;
// $color-hv-btn: #5eaa2f;
// $color-bg-block: #f2f2f2;
// $color-bg: #64a83b;
$tablet-width: 1023px;
$mobile-width: 767px;
// $desktop-width: 1300px;
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;
