$main-font: "PTMono", "Courier New", monospace;
$title-font: "RobotoCondensed", "Arial", sans-serif;
$color-title: #ffffff;
$color-text: #666666;
$color-border: #ffffff;
$color-footer-text: #1b2d37;
$pick-out-color: #00b2ff;
$tablet-width: 1023px;
$mobile-width: 767px;
